<!doctype html>
<html>
<head>
</head>
<body>
  <table cellspacing="0" cellpadding="0" border="0" style="background:#e9eeef;width:100%;border-top:1px solid #f1f1f2; padding-top:25px; padding-bottom:25px; font-family: tahoma, san-serif;">
    <tbody><tr>
      <td valign="top" align="center">
        <u></u>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#6342a7;max-width:600px; padding-bottom:20px; border:1px solid #dfe0e3;border-bottom:none">
          <tbody><tr>
          <td valign="top" align="center" style="padding-top:25px;padding-right:18px;padding-bottom:0px;padding-left:15px">
            <img src="https://com-plancess-qa.s3.amazonaws.com/media/email-images/logo_new.png" border="0" alt="Plancess Edu Solutions Logo" title="Plancess Edu Solutions Logo" style="max-width: 1104px;">          </td>
          </tr>
        </tbody></table>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:600px;border:1px solid #dfe0e3;background:#fff;padding-top:10px;padding-right:36px;padding-bottom:10px;padding-left:36px;">
          <tbody><tr>
          <td valign="top" style="padding-top:20px;padding-right:8px;padding-left:8px">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td valign="top" align="left">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    {%include 'tr.html'%}
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#e9eeef;max-width:600px;margin:0 auto">
        <tbody><tr>
        <td valign="top" style="padding-top:18px;padding-left:10px;padding-right:10px">
          <div style="font:normal 13px tahoma;line-height:22px;color:#666;text-align:center">
            &copy; 2015 - 2016 Plancess EduSolutions Pvt. Ltd. <br />
            All rights reserved.
          </div>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
</tbody></table>
</body>
</html>