{%for d in data%}
	{% if d.type == "text" %}
		<tr>
			<td valign="top" style="font:normal 13px tahoma;line-height:22px;color:#333;text-align:left;padding-top:1px;padding-bottom:10px">
				{%for l in d.value%}{{l}}<br>{%endfor%}
			</td>
		</tr>
	{% elif d.type == "link" %}
		<tr>
			<td valign="top" style="font:normal 13px tahoma;line-height:22px;padding-top:20px;padding-bottom:30px">
				<a  style="width:250px; display: block; margin: 0px auto; text-align:center; background-color:#45d281; font-size: 13px; font-weight:bold; padding: 15px 0px; text-decoration:none; color:#fff;" href="" target="_blank">
					{{d.value}}
				</a>
			</td>
		</tr>
	{% elif d.type == "hi" %}
	<tr>
		<td valign="top" style="font:normal 13px tahoma;line-height:22px;color:#333;text-align:left;padding-top:2px;padding-bottom:21px">
			{{d.value}} <span style="font-weight:bold; color:#000">((first_name)),</span>
		</td>
	</tr>
	{% endif %}
{%endfor%}